:root {
  --purple: #2e3ef5;
  --orange: #f58e2e;
}

body {
  background-image: url('./images/VidmobBackground.png');
  background-size: 1700px;
}

/*source for some of the calculator styling: https://scotch.io/bar-talk/build-a-css-grid-calculator-solution-to-code-challenge-2*/

#vidmob-logo {
  width: 340px;
  padding-bottom: 25px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 95vh;
}

#calc-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: var(--purple);
  border: thin solid black;
  border-radius: 15px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.4);
}

input {
  height: 60px;
  font-size: 25px;
  padding: 15px;
  background: whitesmoke;
  border: thin solid black;
}

#keys-container {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}


.zero {
  grid-column: span 2;
}

.key {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #111;
  padding: 15px 5px 15px 5px;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}

.key:hover {
  background: rgba(0, 0, 0, 0.6)
}

.key:active {
  background: rgba(0, 0, 0, 0.7);
}